@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Cairo", sans-serif;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

.beat {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  flex-direction: row;

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    width: 100%;
  }

  &__controls {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 12rem);
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 8px;

    @media only screen and (max-width: 650px) {
      grid-template-columns: repeat(3, 1fr);
    }

    & h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 4rem;
      background-color: wheat;
      border-radius: 4px;
      cursor: default;
    }

    &__mute {
      width: 3rem;
      height: 3rem;
      background-color: rgb(247, 232, 206);
      color: #bbb;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      grid-row: auto;
      margin: 5px;
      transition: all 0.3s ease-out;

      &.active {
        background-color: wheat;
        color: black;
      }

      @media only screen and (max-width: 1000px) {
        grid-row: span 2;
      }
      @media only screen and (max-width: 650px) {
        grid-row: auto;
      }
    }
    &__select {
      height: 4rem;
      width: 100%;
      background-color: wheat;
      font-family: inherit;
      text-align: center;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.pads {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0.5rem;

  &__pad {
    height: 5.5rem;
    width: 5.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &--kick {
      background-color: lighten(orange, 40%);
      &.active {
        background-color: orange;
      }
    }

    &--hihat {
      background-color: lighten(rgb(196, 47, 255), 30%);
      &.active {
        background-color: rgb(196, 47, 255);
      }
    }

    &--snare {
      background-color: lighten(rgb(40, 133, 255), 30%);
      &.active {
        background-color: rgb(40, 133, 255);
      }
    }

    @media only screen and (max-width: 650px) {
      height: 4rem;
      width: 4rem;
      margin: 0.2rem;
    }
  }
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: wheat;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 2rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
